[submodule "module/pdf-analysis-module"]
	path = module/pdf-analysis-module
	url = https://github.com/BOB-APT-Solution/pdf-analysis-module.git
[submodule "module/hwp-parser"]
	path = module/hwp-parser
	url = https://github.com/BOB-APT-Solution/hwp-parser.git
